.modal {
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000; /* Fallback color */
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal .ready {
  font-size: 35px;
  color: #ffffff;
}
