h2 {
  font-size: 25px;
  color: #1890ff !important;
}

h3 {
  font-weight: bold;
}

p {
  font-style: italic;
}

img {
  max-width: 250px;
  max-height: 250px;
}

.func-line {
  color: #4dc3ff;
  text-decoration: underline;
  margin-top: 10px;
}

.product-spec {
  display: flex;
  flex-direction: column;
}
